
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Greeting"]</h1>
    @{
        var greeting = "Welcome to ASP.NET MVC Core";
        var weekDay = DateTime.Now.DayOfWeek;
    }
    @{
        var ISBNNo = "978-1-80056-718-4";
    }
    @{
        @*var pro = new { ProductID = 1, ProductName = "Coffee" };
        <p>ProductID: @pro.ProductID</p>
        <p>ProductName: @pro.ProductName</p>
        <p>@greeting</p>
        <p>@weekDay</p>
        <p>ISBNNo: @(ISBNNo)</p>*@
        <p>ProductID: @ViewBag.Product.ProductID</p>
        <p>Product Name: @ViewBag.Product.ProductName</p>
        <p>Brand: @ViewBag.Product.Brand</p>
        <p>Price: @ViewBag.Product.Price</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
